

@media screen and (min-width: 1000px)  {.App {
background-image: url("box.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-size:100% 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1.5vw);
  color: white;}
  .hidden{
    display:none;
  }
  .opened{
    display:initial;
  }
}
@media screen and (max-width: 999px)  {.App {
  background-image: url("box.jpg");
    background-size: cover;
    background-attachment: scroll;
  background-repeat: no-repeat;
  perspective: 1px;
  height: 100vh;
  background-position: center center;
 
  overflow-x: hidden;
  overflow-y: auto;
  }
  .opened{
    display:none;
  }
  .hidden{
    display:initial;
  }}



/* .cover {
  background-image: url("box.jpg");
  color:white;
  width:100%;
  
  
} */
  /* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {.App {
    background-image: url("box.jpg");
    background-size: cover;
    background-attachment: scroll;
  background-repeat: no-repeat;
  perspective: 1px;
  height: 100vh;
  background-position: center center;
 
  overflow-x: hidden;
  overflow-y: auto;
  }
  .opened{
    display:none;
  }}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {.App {
  background-image: url("box.jpg");
  background-size: cover;
  background-attachment: scroll;
background-repeat: no-repeat;
perspective: 1px;
height: 100vh;
background-position: center center;
 
overflow-x: hidden;
overflow-y: auto;
}
.opened{
  display:none;
}}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {.App {
  background-image: url("box.jpg");
  background-size: cover;
  background-attachment: scroll;
background-repeat: no-repeat;
perspective: 1px;
height: 100vh;
background-position: center center;
 
overflow-x: hidden;
overflow-y: auto;
}
.opened{
  display:none;
}}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {.App {
  background-image: url("box.jpg");
  background-size: cover;
  background-attachment: scroll;
background-repeat: no-repeat;
perspective: 1px;
height: 100vh;
background-position: center center;
 
overflow-x: hidden;
overflow-y: auto;
}
.opened{
  display:none;
}}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {.App {
  background-image: url("box.jpg");
  background-size: cover;
  background-attachment: scroll;
background-repeat: no-repeat;
perspective: 1px;
height: 100vh;
background-position: center center;
 
overflow-x: hidden;
overflow-y: auto;

}
.opened{
  display:none;
}}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) {.App {
  background-image: url("box.jpg");
  background-size: cover;
  background-attachment: scroll;
background-repeat: no-repeat;
perspective: 1px;
background-position: center center;
 
height: 100vh;
overflow-x: hidden;
overflow-y: auto;
;}
.opened{
  display:none;
}}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) {.App {
  background-image: url("box.jpg");
  background-size: cover;
  background-attachment: scroll;
background-repeat: no-repeat;
perspective: 1px;
height: 100vh;
background-position: center center;
 
overflow-x: hidden;

 
overflow-y: auto;
}
.opened{
  display:none;
}}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) {.App {
  background-image: url("box.jpg");
  background-size: cover;
  background-attachment: scroll;
background-repeat: no-repeat;
perspective: 1px;
height: 100vh;
background-position: center center;
 
overflow-x: hidden;
overflow-y: auto;
}

.opened{
  display:none;
}} */
nav
{
  float:right;
  width:80%;
  flex-grow: 1;
}
.flex {
  z-index: -1;
  background-color: rgb(126, 126, 126);
  color:white;
  text-align: left;
  font-size: 5vw;
  /* display: flex;
  justify-content: space-around; */
  padding-top:1vw;
  padding-bottom:1vw;
  padding-left:10vw;
  padding-right:10vw
}
.flexx {
  color:rgb(107, 78, 78);
  /* display: flex;
  
  justify-content: space-around; */
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  /* flex-direction: row; */
  
  justify-content: space-around; 
  text-align: center;
}

.flexxx {
  color:rgb(107, 78, 78);
  display: flex;
  justify-content: space-around;
  /* flex-direction: row; */
  flex-wrap: wrap;
  padding-left:5vw;
  padding-right:5vw;
  /* padding-left:5vw;
  padding-right:5vw; */
  /* justify-content: space-between;  */
  text-align: center;
}
.back{background-color:rgb(40, 40, 40);}
.left{

  float:left
}
.laptop{
  height: 100vh;
  /* font-size:5vw; */
  font-size: clamp(4rem, 5vw, 20rem);

  color:rgb(255, 255, 255);
  background-image: url("lapto.jpg");
  display: flex;
  background-size: cover;

  padding-left:10vw;
  padding-right:10vw
}
.lefta{
  font-size:5vw;
position:absolute;

left:30vw;
background-color: rgb(167, 167, 167);
  color:rgb(255, 255, 255);
width:5vw;
top:13vw;
}
.righta{
  font-size:5vw;
background-color: rgb(167, 167, 167);
  position:absolute;
right:30vw;
top:13vw;
  color:rgb(255, 255, 255);
width:5vw;


  
}
.exp1{
 
  font-size:5vw;

display: flex;
justify-content: center ;
  align-self:center;
  margin-left:35vw;
  margin-right:35vw;
  color:rgb(255, 255, 255);
width:30vw;
  display: flex;
  background-size: cover;
  float:center;
position:relative;
/* z-index: -1; */

}
.positioner{
  position:relative
}
nav ul {
margin:0;
padding:0;
position:center center;
display:flex;
justify-content: space-around;

}
.dark{ color:black !important}
/* .software{ color: rgb(43, 43, 43);
  text-decoration: none;
  text-transform: uppercase;
  
  font-size: clamp(1rem, 2.5vw, 3rem);
  border: 1px solid black;
  border-radius: 5%;
  padding-bottom:clamp(1.5rem, .5vw, 10rem);
 } */
header {width: 100%;
  /* background-color: rgb(138, 138, 138); */
  position: fixed;
  display: flex;
  top: 0;}
nav li {
display:inline-block;
-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  
padding-top:clamp(3rem, 1vw, 20rem);
padding-bottom:clamp(3rem, 1vw, 20rem);
}
/* img{background-color:white;} */
nav a {
color: rgb(0, 0, 0);
text-decoration: none;
text-transform: uppercase;

font-size: clamp(.9rem, 1.3vw, 3rem); 
/* background-color: rgb(234, 234, 234); */

}
a{text-decoration: none;
  text-transform: uppercase;
  font-size: clamp(.6rem, 1.2vw, 2.9rem);
  /* border: 1px solid black;
  border-radius: 10%; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  }
nav a:hover {
  color: rgb(2, 145, 240);
  font-weight:bold;
}
nav .remove:hover{
color:black;
font-weight:normal

}
ul {
  list-style-type: none;
  text-align:center
}
nav a::before  {
  content: '';
  display: block;
  height: 1.2vw;
  background-color: rgb(119, 132, 143);
  position: absolute;
  top:0;
  width: 0%;
  transition: all ease-in-out 250ms;
}


#myNav {width:0%


}
#myNav1 {width:100%


}
.spanner {
  color: rgb(40, 40, 40);
  text-decoration: none;
  text-transform: uppercase;
  font-size: clamp(.9rem, 1.3vw, 3rem);cursor:pointer
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 4.5vw;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.radi{
  display: table-cell;
  
  justify-content: center center;
  align-self:center;
  text-transform: uppercase;
  text-decoration: none;
  position:center center;
  font-size: clamp(.7rem, 1.5vw, 2.7rem);
  
  padding-left:7vw;
  color:black;
  padding-right:7vw
}
.radi1{border-radius: 25%; background-color: rgb(171, 121, 90);height:8vw;}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  min-width:200px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.containers {
 width:100%
}

.projects{

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
width:100%

}
.cards {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  min-width:200px;

}

.cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



header{background-color: white;}

.reduce{width:1.5vw}
.fonty{
  font-size: clamp(.5rem, 2.5vw, 2.9rem) ;
}

.dot {
  cursor: pointer;
  height: clamp(1.5rem, 2vw, 20rem);
  width: clamp(1.5rem, 2vw, 20rem);
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dots{
  display: flex;
  
  justify-content: center ;
  align-self:center;
  text-transform: uppercase;
  text-decoration: none;

  
  
  color:black;
width:100% !important;

padding-bottom:clamp(3rem, 1vw, 20rem);
}

.active, .dot:hover {
  background-color: #5a5959;
}


.A1{background-color: #5a5959;}
.B2{background-color: #5a5959;}
.C3{background-color: #5a5959;}
.D4{background-color: #5a5959;}
.E5{background-color: #5a5959;}
.F6{background-color: #5a5959;}
.G7{background-color: #5a5959;}
.spread{
  
  display:flex;


  display: table-cell;
  width:100%;

}