

@media only screen and (min-device-width: 737px)  {.App {
background-image: url("box.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-size:100% 100%; */
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hidden{
  display:none;
}}

.cover {
  background-image: url("box.jpg");
  color:white;
  width:100%;
  
  
}
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {.App {
    background-image: url("box.jpg");
    background-size: cover;
    background-attachment: scroll;
  background-repeat: no-repeat;
  perspective: 1px;
  height: 100vh;
  background-position: center center;
 
  overflow-x: hidden;
  overflow-y: auto;
  }
  .opened{
    display:none;
  }}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {.App {
  background-image: url("box.jpg");
  background-size: cover;
  background-attachment: scroll;
background-repeat: no-repeat;
perspective: 1px;
height: 100vh;
background-position: center center;
 
overflow-x: hidden;
overflow-y: auto;
}
.opened{
  display:none;
}}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {.App {
  background-image: url("box.jpg");
  background-size: cover;
  background-attachment: scroll;
background-repeat: no-repeat;
perspective: 1px;
height: 100vh;
background-position: center center;
 
overflow-x: hidden;
overflow-y: auto;
}
.opened{
  display:none;
}}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {.App {
  background-image: url("box.jpg");
  background-size: cover;
  background-attachment: scroll;
background-repeat: no-repeat;
perspective: 1px;
height: 100vh;
background-position: center center;
 
overflow-x: hidden;
overflow-y: auto;
}
.opened{
  display:none;
}}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {.App {
  background-image: url("box.jpg");
  background-size: cover;
  background-attachment: scroll;
background-repeat: no-repeat;
perspective: 1px;
height: 100vh;
background-position: center center;
 
overflow-x: hidden;
overflow-y: auto;

}
.opened{
  display:none;
}}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) {.App {
  background-image: url("box.jpg");
  background-size: cover;
  background-attachment: scroll;
background-repeat: no-repeat;
perspective: 1px;
background-position: center center;
 
height: 100vh;
overflow-x: hidden;
overflow-y: auto;
;}
.opened{
  display:none;
}}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) {.App {
  background-image: url("box.jpg");
  background-size: cover;
  background-attachment: scroll;
background-repeat: no-repeat;
perspective: 1px;
height: 100vh;
background-position: center center;
 
overflow-x: hidden;

 
overflow-y: auto;
}
.opened{
  display:none;
}}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) {.App {
  background-image: url("box.jpg");
  background-size: cover;
  background-attachment: scroll;
background-repeat: no-repeat;
perspective: 1px;
height: 100vh;
background-position: center center;
 
overflow-x: hidden;
overflow-y: auto;
}

.opened{
  display:none;
}}
nav
{
  float:right;
  width:80%;
  flex-grow: 1;
}
.flex {
  background-color: rgb(126, 126, 126);
  display: flex;
  
  justify-content: space-around;
  text-align: center;
  padding-left:10vw;
  padding-right:10vw
}
.back{background-color:rgb(40, 40, 40);}
.left{

  float:left
}
.laptop{
  height: 100vh;
  font-size:5vw;

  color:rgb(255, 255, 255);
  background-image: url("lapto.jpg");
  display: flex;
  background-size: cover;

  padding-left:10vw;
  padding-right:10vw
}

nav ul {
margin:0;
padding:0;
position:center center;
display:flex;
justify-content: space-around;

}
.dark{ color:black !important}
.software{ color: rgb(43, 43, 43);
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(244, 244, 244);
  font-size: clamp(1rem, 2.5vw, 3rem);
  border: 1px solid black;
  border-radius: 5%;
  padding-bottom:clamp(3rem, 2.5vw, 20rem);
 }
header {width: 100%;
  /* background-color: rgb(138, 138, 138); */
  position: fixed;
  display: flex;
  top: 0;}
nav li {
display:inline-block;
-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
padding-top:clamp(3rem, 2.5vw, 20rem);

}
nav a {
color: rgb(0, 0, 0);
text-decoration: none;
text-transform: uppercase;
font-size: clamp(1rem, 1.5vw, 3rem); 
/* background-color: rgb(234, 234, 234); */

}
a{text-decoration: none;
  text-transform: uppercase;
  font-size: clamp(1rem, 1.5vw, 3rem);
  /* border: 1px solid black;
  border-radius: 10%; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  }
nav a:hover {
  color: rgb(240, 2, 2)
}
ul {
  list-style-type: none;
  text-align:center
}
nav a::before  {

  content: '';
  display: block;
  height: 1.2vw;
  background-color: rgb(119, 132, 143);
  position: absolute;
  top:0;
  width: 0%;
  transition: all ease-in-out 250ms;
}
#myNav {width:0%


}
#myNav1 {width:100%


}
.spanner {
  color: rgb(40, 40, 40);
  text-decoration: none;
  text-transform: uppercase;
  font-size: clamp(1rem, 1.5vw, 3rem);cursor:pointer
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}